// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-list{
  .col-sm-3{
    padding: 5px 5px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-left: -1px;
    margin-top: -1px;
    height: 450px;
  }
  .title{
    height:52px;

    p{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
  .author {
    height:36px;
    p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
  }
  .publisher{
    height: 36px;
  }

  .image{
    height:200px;
  }
  .add{
    height:40px;
    text-align: center;
    margin: 15px 0px;

  }
  .good{
    height:30px;
    .glyphicon{
      font-size:18px;
    }
  }
  .btn{
    width:80%;
    margin-bottom: 10px;
  }
  .add_bookshelf{
    height:42px;
  }
  .review{
    margin-top: 10px;
  }
}

.book-img{
  
  padding: 15px 0px;
  background-color: white;
  border: 1px solid #ddd;
}
.col-sm-6{
  .star{
    display: inline-block;
  }
  h4{
    line-height: 1.5em;;
  }
  .book-info-top{
    margin-top: -1px;
    margin-bottom: 15px;
    padding:5px 10px;
    
    background-color: white;
    border: 1px solid #ddd;
  }
  .book-info-sub{
    margin: 0 auto;
    width:315px
  }
}

.chk{
  padding-top:10px;
  display: flex;
  align-items: center;
  justify-content:start;
  input{
    width:150px;
  }
  .btn{
    margin-right: 5px;
    margin-bottom: 10px;

  }
}

//index
.new-book{
  .btn{
    width:100%;
  }
  
}