// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .btn-info{
   width:100%;
 }

 .record{
   height: 50px;
 }

 //_record
.rec{
  
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 5px 5px 5px 5px;

  .row-eq-height {
    display: flex;
    flex-wrap: wrap;
}
}

.rec-col{
  height:180px;
  display: flex;
  justify-content: center;
  align-items: center;

 //吹き出し
 .balloon1-left {
  //position: relative;
  padding: 8px 8px;
  //margin:5px 0px;
  width:100%;
  height:175px;
  //min-width: 120px;
  //max-width: 100%;
  color: #555;
  background: #d6f5cd;
  border-radius: 15px;
  position:relative;
}
}
.rec-name{
  margin-top: 20px;
}
 .rec-menu{
  margin-top: 20px;
   .btn{
     margin-bottom: 0px;
   }

 }

 //form
 .edit-form.record{
  width: 50%;
  margin: 0 auto;
  select{
   
    width:50px;
    
  }
 }

 #record_memo_4i{
  width:50px
}

#record_memo_5i{
  width:50px
}

.record_date{
  text-align: right;
  margin-top: 20px;
  position:absolute;
  top: 130px;
    left: 170px;
}

@media screen and (max-width:480px){
  .edit-form.record {
  
    width: 100%;
    margin: 0 auto;
  }
}

